#headText {
  border-color: #005f5f;
  text-align: left;
  font-family: Avenir;
  font-size: 26;
  border-style: none none solid none;
  background-color: #005f5f;
}

body {
  background-color: #f0f8ff;
  text-align: center;
  color: black;
  font-family: Avenir;
  padding: 0px;
  border: 0px;
}

#mainImg{
  width:250px;
}
#quote {
  border-color: #08112c;
  border-width: 5px;
  border-style: solid;
  background-color: #08112c;
}

#quoteText
{
  padding: 20px;
  color: white;
  font-size:20;
  
}
#info{
  padding-bottom: 20px;
}

#xkcd
{
  -webkit-filter: invert(1);
  filter: invert(1);
}

body {
  margin: 0;
  padding: 0;
}

.nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav a {
  text-decoration: none;

  display: block;
  color: black;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #005f5f;
}

.nav li {
  width: 200px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;

  display: inline-block;
  margin-right: -5px;
}
